header {
  width: 100%;
  /* background-color: rgba(10, 81, 10, 0.861); */
  background-image: linear-gradient(50deg);
}
.navBar {
  position: relative;
  display: inline-block;
  direction: rtl;
  text-align: left;
  cursor: pointer;
}
.navBlock {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}
.navBlockApear {
  display: block;
}
.navlink {
  font-size: small;
  border-bottom: black solid 1px;
}
.navlink:active {
  transform: scale(0.98);
}
.subCategories{

  background: white;
}
.subCategory{
  display: none;
}
.categoryBlock:hover .subCategory{
  display: block;
}
.subCategory:active{
  transform: scale(0.98);
}
.lines {
  height: 8px;
  width: 17px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}
.linseBox {
  transition: transform 0.2s ease;
}
.linseBoxRotate {
  transform: rotate(90deg);
}
.sBtn {
  border: black solid 1px;
  border-radius: 17px 0px 0px 17px;
  padding: 5px;
}
.sBtn:active {
  transform: scale(0.98);
}
.input {
  border: black solid 1px;
  padding: 5px;
  border-radius: 0px 17px 17px 0px;
}
.icons {
  width: 30px;
  cursor: pointer;
}
.userForm {
  position: absolute;
  width: 250px;
}


@media (min-width: 768px) {
  .linseBox {
    display: none;
  }
  .navlink {
    border-bottom: none;
    height: 20px;
    text-align: center;
  }
  .navlink:hover {
    transform: scale(1.02);
  }
  .navlink:active {
    transform: scale(1);
  }
  .navBlock {
    display: inline-flex;
    /* vertical-align: bottom; */
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    padding: 12px 16px;
    gap: 10px;
  }
  .navBlockApear {
    display: inline-flex;
  }
  .navBar {
    position: relative;
    display: inline-flex;
  }

  .navBar:hover .navBlock {
    display: inline-flex;
  }
  .input {
    width: 400px;
  }
}
